@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 16;
    --background-end-rgb: 0, 0, 0;
} */

/* 
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 16;
        --background-end-rgb: 0, 0, 0;
    }
} */

::selection {
    background-color: bisque;
    color: black;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    --fixation-edge-opacity: 80%;
    --br-line-height: 1;
    --br-boldness: 600;
}

img {
    object-fit: contain;
}

* {
    scroll-behavior: smooth;
}
